.idea
.venv
venv
__pycache__
.coverage
.pytest*
build/
*.egg-info
.vscode
dist
docs/_build
docs/_static
docs/_templates
docs/make.bat
test.json
src/*.egg-info
src/.coverage
src/jsonparse/*.pyc
tests/*.pyc
venv3